    .side-nav-container{
        
        background-color: #16213E;
        height: 100vh;

        .nav-logo{
            padding: 5px 10px;
            h2{
                color:white;
            }
        }
        
        .nav-links{
            display: block;
            ul li{
                padding: 16px;
                h3{
                    color:white;
                }
            }
            
        }

        

        

       
        
    }
