@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    .side-nav-container{
        display: flex;
        flex-direction: column;
        gap:1.2rem;
        background-color: #16213E;
        height: 100vh;

        .nav-logo{
            display: flex;
            justify-content: flex-start;
            gap:59px;
            padding: 15px 18px;
            h2{
                color:white;
                font-family: 'Rubik', sans-serif;
                letter-spacing: .1em;
            }
        }
        
        .nav-links{
            
            ul li{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap:35px;
                padding: 15px;
                h3{
                    color:white;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: .1em;
                }
            }

            ul li:hover{
                
                transition: .2s;
                background-color: #48567c; 
                border-right: 3.5px solid white;
                }

        }

    }
